@charset  "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/estrada-1200x1800.jpg);
    background-size: cover;
    background-position: 0 10%;
    background-repeat: no-repeat;
}
nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}